<nav
  class="navbar bg-dark border-bottom navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>B Wahlstrom</b> Engineering GmbH</a>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <!-- Use routerLink directive for navigation -->
        <a
          class="nav-link active"
          routerLink="/groups"
          routerLinkActive="router-link-active"
          aria-current="page"
          >Groups</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/contacts"
          routerLinkActive="router-link-active"
          >Contacts</a
        >
      </li>
    </ul>
  </div>
</nav>
