<div class="container my-4">
  <div class="row align-items-center mb-3">
    <h2 class="col">Contacts</h2>
    <div class="col-auto">
      <div class="btn-group me-3">
        <a
          class="btn btn-dark dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Export As
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="exportAs('xml')">XML</a></li>
          <li><a class="dropdown-item" (click)="exportAs('json')">JSON</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-success" (click)="addForm()">
        <i class="bi bi-plus"></i> Add New Contact
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3" *ngIf="showForm">
      <div class="card">
        <div class="card-body">
          <app-form></app-form>
        </div>
      </div>
    </div>
    <div class="col mb-5"><app-grid /></div>
  </div>
</div>
