<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let group of groups"
      [ngClass]="selectedId === group.id ? 'table-active' : ''"
    >
      <td>{{ group.name }}</td>
      <td>{{ group.description }}</td>
      <td>
        <button
          class="btn btn-outline-primary btn-sm me-2"
          title="Edit Group"
          (click)="editGroup(group)"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          title="Delete Group"
          (click)="deleteGroup(group)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="groups.length <= 0">
      <td colspan="7" class="text-center">No Groups Found</td>
    </tr>
  </tbody>
</table>
<div class="col text-center">
  <button
    class="btn btn-primary mt-3"
    (click)="loadGroups()"
    [disabled]="allGroupsLoaded"
    *ngIf="groups.length > 0"
  >
    {{ !allGroupsLoaded ? "Load More" : "No More Groups" }}
  </button>
</div>
