<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Email</th>
      <th scope="col">Street</th>
      <th scope="col">Zip Code</th>
      <th scope="col">City</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let contact of contacts"
      [ngClass]="selectedId === contact.id ? 'table-active' : ''"
    >
      <td>{{ contact.name }}</td>
      <td>{{ contact.first_name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.street }}</td>
      <td>{{ contact.zip_code }}</td>
      <td>{{ contact.city_name }}</td>
      <td>
        <button
          class="btn btn-outline-primary btn-sm me-2"
          title="Edit Contact"
          (click)="editContact(contact)"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          title="Delete Contact"
          (click)="deleteContact(contact)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="contacts.length <= 0">
      <td colspan="7" class="text-center">No Contacts Found</td>
    </tr>
  </tbody>
</table>
<div class="col text-center">
  <button
    class="btn btn-primary mt-3"
    (click)="loadContacts()"
    [disabled]="allContactsLoaded"
    *ngIf="contacts.length > 0"
  >
    {{ !allContactsLoaded ? "Load More" : "No More Contacts" }}
  </button>
</div>
